
<% include("partials/header") %>

<h1>Hello</h1>

<form class="" action="/" method="post">
  <input type="text" name="title" value="" placeholder="Enter Title Here" required>
  <br><br>
  <input type="text" name="author" value="" placeholder="Enter Name Here" required>
  <br><br>
  <textarea name="text" rows="8" cols="80" placeholder="Enter Post Here" required></textarea>
  <br><br>
  <button type="submit" name="button">Submit</button>
</form>

<br><br>
<hr>
<br><br>

<% posts.reverse().forEach(function(post){ %>
  <form class="" action="/<%= post._id %>" method="post">
    <button type="submit" name="button"><%= post.title %></button>
  </form>

  </a>

  <h4> Written By: <%= post.author %> </h4>
  <p> <%= post.text.slice(0, 200) + "..." %> </p>
<% }) %>


<% include("partials/footer") %>
