
<% include("partials/header") %>

<a href="/">Go Back to Front Page</a>

<h1><%= post.title %></h1>

<p>Written By: <%= post.author %></p>

<p> <%= post.text %> </p>

<% include("partials/footer") %>
